<canvas id="gameCanvas" width="800" height="400"></canvas>
<script src="{{ url_for('static', filename='js/engine.js') }}"></script>
<script src="{{ url_for('static', filename='js/dino.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='js/obstacle.js') }}"></script> -->
<script src="{{ url_for('static', filename='js/background.js') }}"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
